.create-stemtell-body {
   min-width: 360;
   margin: auto;
   padding-bottom: 40px;
}

.create-stemtell-class-select {
   width: 248px;
}

.create-stemtell-title {
   width: 360px;
}

.create-stemtell-image-url {
   width: 360px;
}

.create-stemtell-description {
   width: 360px;
}

.create-stemtell-input-alert {
   color: red;
   text-align: center;
}