.classCardContainer{
   margin-top: 50px;
}

.classDetail{
   padding: 8px;
   margin:8px;
   margin-top: 12px;
   display: flex;
}

.classCard{
   width: auto;
   margin: 20px;
}

.toggle-class-status {
   
}

#classCardTitle{
   margin: auto;
   width: 50%;
   padding: 10px;
   margin: 2px;
   color: #727272;
}

#editIconClassCard {
   float: right;
   margin: 6px;
}
