.StudentCardContainer{
    display: flex;   
}

.StudentDetailsCard{
    display: block;
    
}

.StudentCardDeleteBtn{
float: right;
}

.StudentProfilePicAndName{
 float: left;
 display: inline-flex;
 margin: 5px;
}


#StudentDetailsName{
    margin: 10px 5px 0px;
}
.StudentCardDeleteBtn{
    
}

#StudentListHeader{

}


