.edit-stemtell-body {
    width: 90%;
    max-width: 400px;
    margin: auto;
    background-color: white;
}
/* 
#edit-stemtell-class-select {
    width: 90%;
}

#edit-stemtell-title {
    width: 360px;
}

#edit-stemtell-image-url {
    width: 360px;
}

#edit-stemtell-description {
    width: 90%;
} */

#edit-stemtell-input-alert {
    color: red;
    text-align: center;
}
