.edit-stemtell-body {
   width: 90%;
   max-width: 1000px;
   height: auto;
   max-height: 90%;
   overflow-y: auto;
   overflow-x: hidden;
   background-color: white;
}

.edit-stemtell-class {
   width: 200px;
}

.edit-stemtell-title {
   width: 90%;
}

.edit-stemtell-image-url {
   width: 90%;
}

.edit-stemtell-description {
   width: 90%;
}

.edit-stemtell-input-alert {
   color: red;
   text-align: center;
}

.MuiTextField-root {
   width: 100%;
}