.AddClassContainer {
   display: inline-flex;
   padding-bottom: 15px;
}

.AddClassForm {
   margin: auto;
   width: 90%;
}

.AddClassInput{
   float: left;
   width: 100%;
} 

.AddClassBtnBox {
   float: right;
   margin-top: 10px;
   margin-right: 35px;
}